@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";
  --font-body: "Inter", "sans-serif";

  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;

  --color-border: 214.3 31.8% 91.4%;

  /* Add more custom colors here */
}

/* Custom Base Styles if needed */
@layer base {
  body {
    @apply text-black dark:text-white transition-colors duration-300;
  }
}
